<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrought">
	
	<h:head>
		<f:metadata>
		
			<f:viewParam name="cedula" value="#{contactosBean.cedula}"></f:viewParam>		
		</f:metadata>
	
	</h:head>
	
	<ui:composition template="html/template.xhtml">
				    <ui:define name="title">
        				Contactos Telefonicos
   					 </ui:define>
   					  <ui:define name="title2">
        				Lista Contactos
   					 </ui:define>
   					 
   					 <ui:define name="content">
   					 
   					 <h:form class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Cedula</label>
                                    <div class="col-md-12">
                                    <h:inputText value="#{contactosBean.persona.cedula}" 
                                    type="text" a:placeholder="Johnathan Doe"
                                    class="form-control form-control-line"/>
                                    <h:message for="txtCedula" />
                                    <label class="col-md-12"></label>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Nombre</label>
                                    <div class="col-md-12">
                                    	<h:inputText value="#{contactosBean.persona.nombre}"
                                    		a:placeholder="johnathan@admin.com"
                                            class="form-control form-control-line"  />
                                    	 </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Apellido</label>
                                    <div class="col-md-12">
                                    	<h:inputText value="#{contactosBean.persona.apellido}" class="form-control form-control-line" /> 
                                       
                                    </div>
                                </div>
               
                                <div class="table-responsive">
                                <label class="col-md-12">Telefonos</label>
                                <h:dataTable var="telefono" value="#{contactosBean.persona.telefonos}" class="table">
									<h:column>
										<f:facet name="header">Numero</f:facet>
										<h:inputText value="#{telefono.numero}" />
									</h:column>
									<h:column>
										<f:facet name="header">Tipo</f:facet>
										<h:inputText value="#{telefono.tipo}" />
									</h:column>
									
									<f:facet name="footer">
										<h:commandButton action="#{contactosBean.agregarTelefono()}" value="+Telefono" class="btn btn-success">
										<f:ajax render="@form" execute="@form"/>
										</h:commandButton>
									</f:facet>
								
								</h:dataTable>   
                                </div>
                          
                                <div class="form-group">
                                    <div class="col-sm-12">
                                         <h:commandButton action="#{contactosBean.guardarDatos()}" value="Guardar" class="btn btn-success"/>
                                    </div>
                                </div>
                            </h:form>
	   
    				 </ui:define>
    				 <ui:define name="footer">
    				 Universidad Politecnica Salesiana	 
    				 </ui:define>
   					 
	</ui:composition>
</html>