<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrought"
	xmlns:p="http://primefaces.org/ui">

<h:head>  
<title>ConfirmBox</title>  
</h:head>  
<h:body>  
<h:form>  
<p:growl id="message" showDetail="true" />  
<p:commandButton value="Eliminar" actionListener="#{contactosBean.confirm('0303013072')}" update="message">  
<p:confirm header="Confirmation" message="Esta seguro de eliminar el contacto" icon="ui-icon-alert" />  
</p:commandButton>  
<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">  
<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />  
<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />  
</p:confirmDialog>  
</h:form>  
</h:body>  
</html>