<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrought"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="html/template.xhtml">

	<ui:define name="title">
        				Contactos Telefonicos
   					 </ui:define>
	<ui:define name="title2">
        				Lista Contactos
   					 </ui:define>

	<ui:define name="content">
		<h:form id="formlist">
			<h:commandButton action="crear" value="Nuevo Contacto"
				class="btn btn-success" />
			<h:dataTable value="#{contactosBean.personas}" var="persona"
				class="table" id="table">
				<h:column>
					<f:facet name="header">Cedula</f:facet>
								#{persona.cedula}
							</h:column>
				<h:column>
					<f:facet name="header">Nombre</f:facet>
								#{persona.nombre}
							</h:column>
				<h:column>
					<f:facet name="header">Apellido</f:facet>
								#{persona.apellido}
			    </h:column>
				<h:column>
					<f:facet name="header">Acciones</f:facet>
					<p:commandButton action="#{contactosBean.editar(persona.cedula)}"
						value="EDITAR" class="btn btn-success">
						<f:ajax render="table" />
					</p:commandButton>

					<p:commandButton action="#{contactosBean.eliminar(persona.cedula)}"
						value="ELIMINAR" class="btn btn-danger m-l-5">
						<f:ajax render="formlist" execute="@form" />
					</p:commandButton>

					<p:growl id="message" showDetail="true" />
					<p:commandButton value="Eliminar"
						action="#{contactosBean.eliminar(persona.cedula)}"
						update="message">
						<p:confirm header="Confirmation"
							message="Esta seguro de eliminar el contacto"
							icon="ui-icon-alert" />
							<f:ajax render="formlist" execute="@form" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</h:column>
			</h:dataTable>
		</h:form>

	</ui:define>

	<ui:define name="footer">
    				 Universidad Politecnica Salesiana
    				 
     </ui:define>

</ui:composition>
</html>

